<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/print-management.js"></script>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <a href="/create-print-queue">Create Print Queue</a>
        </td>
      </tr>
    </table>
    {{{body}}}
  </body>
</html>
