<!--<h1>{{data}}</h1>-->
<form onsubmit="submitForm(); return false;">
    <table>
        <tr><td>Servers:</td><td><select class="form-control" id="servers" multiple>
    {{#each inventory}}
            <option value="{{this.name}}">{{this.name}}</option>
    {{/each}}
        </select></td></tr>
        <tr><td>Force Cache Update <input type="checkbox" id="updatecache" /></td></tr>
    </table>
    <select id="searchprop">
        <option value="Name">Queue Name</option>
        <option value="PortName">Port Name</option>
    </select>
    <input type="text" id="searchvalue" />
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>
<!--<form onsubmit="getChecked(); return false;">-->
    <input type="submit" onclick="getChecked();" value="Delete" />
    <table id="example" class="display" style="width: 100%"></table>
<!--</form>-->
<script>
    var printerarr;
    var table;
    var getChecked = function() {
        /*let queues = document.getElementsByName('queue');
        let selqueues = [];
        for(let i = 0; i <= queues.length - 1; i++) {
            if(queues[i].checked) {
                selqueues.push(printerarr[parseInt(queues[i].value)])
            }
        }

        console.log(selqueues);*/
        let requests = [];
        let checkedvalues = table.$('input:checked').each(function () {
            //console.log(table.cell($(this).attr('value'), 'Servers:name').data());
            let request = {
                servers: table.cell(table.row('#' + $(this).attr('value')).index(), 'Servers:name').data(),
                objects: [
                    {
                        name: table.cell(table.row('#' + $(this).attr('value')).index(), 'Name:name').data(),
                        rowId: $(this).attr('value')
                    }
                ]
            }

            /*if() {

            }*/

            requests.push(request);
        });
        let c = confirm('Are you sure you want to delete the following queues?\r\n' + JSON.stringify(requests, null, 2));
        if(c===true) {
            //console.log(requests);
        } else {
            console.log('request is cancelled');
        }

        runJobs(requests, 0, function(err, resp) {
            console.log('done');
        });
    }

    var runJobs = function(requests, index, callback) {
        if(!index) {
            index = 0;
        }
        //console.log(index);
        //console.log(requests.length);
        if(index <= requests.length - 1) {
            //console.log('run');
            let jobmanager = new jobManager({maxqueue: 4});
            jobmanager.processJobs(requests[index], '/api/printer/queue/delete',
            //portjob.processJobs(portjobs,
            function(e) {
                if(e.response.body.result == 'success') {
                    //console.log(table.row('#' + e.request.body.rowId).index());
                    if(table.cell(table.row('#' + e.request.body.rowId).index(), 'Servers:name').data().length <= 1) {
                        //console.log('requesting row delete');
                        table.row(table.row('#' + e.request.body.rowId).index()).remove().draw(false);
                    } else {
                        //console.log(table.cell(e.request.body.row, 'Servers:name').data());
                        let index = table.cell(table.row('#' + e.request.body.rowId).index(), 'Servers:name').data().indexOf(e.request.body.server)
                        let removed = table.cell(table.row('#' + e.request.body.rowId).index(), 'Servers:name').data().splice(index, 1);
                        //console.log(table.cell(table.row('#' + e.request.body.rowId).index(), 'Servers:name').data())
                        //console.log(removed)
                        //table.cell(table.row('#' + e.request.body.rowId).index(), 'Servers:name').render();
                        table.cell(table.row('#' + e.request.body.rowId).index(), 'Servers:name').invalidate().draw();
                    }
                    console.log(e);
                } else {
                    console.log('deletion failed');
                    console.log(e);
                }
            },
            function(err, resp) {
                runJobs(requests, index + 1, callback);
            });
        } else {
            callback(false, false);
        }
    }

    var submitForm = function() {
        let properties = getInputElements();
        let search = false;
        //console.log(getSelectedOptions(properties.searchprop)[0]);
        if(properties.searchvalue.value.trim() != '') {
            search = {
                comparison: 'AND',
                properties: {}
            }
            search.properties[getSelectedOptions(properties.searchprop)[0]] = properties.searchvalue.value.trim();
        }

        let updatecache = false;



        let request = {
            servers: getSelectedOptions(properties.servers),
            combine: true,
            search: search,
            updatecache: properties.updatecache.checked
        }

        //console.log(request);

        listPrinters(request, function(err, printers) {
            /*printerarr = printers.body;
            for(let i = 0; i <= printerarr.length - 1; i++) {
                printerarr[i].index = i;
            }*/
            if ( $.fn.DataTable.isDataTable( '#example' ) ) {
                //$('#example').DataTable().clear();
                table.destroy();
                initDatatable(printers.body);
            } else {
                $(document).ready(function() {
                    initDatatable(printers.body);
                } );
            }
        });
    }

    function initDatatable(data) {
        table = $('#example').DataTable( {
            data: data,
            select: {
                style:    'os',
                selector: 'td:first-child'
            },
            order: [[1, 'asc']],
            rowId: function(queue) {
                //console.log(queue);
                return queue.uid;
            },
            columns: [
                {
                    data: 'select',
                    orderable: false,
                    searchable: false,
                    render: function(data, type, row, meta) {
                        return '<input type="checkbox" value="' + row['uid'] + '" name="queue" />';
                    }
                },
                { 
                    data: "Name",
                    title: "Name",
                    name: "Name"
                },
                { 
                    data: "PortName",
                    title: "Port",
                    name: "Port"
                },
                { 
                    data: "DriverName",
                    title: "Driver",
                    name: "Driver"
                },
                { 
                    data: "Location",
                    title: "Location",
                    name: "Location"
                },
                { 
                    data: "Comment",
                    title: "Comment",
                    name: "Comment"
                },
                { 
                    data: "Shared",
                    title: "Shared",
                    name: "Shared"
                },
                { 
                    data: "ShareName",
                    title: "ShareName",
                    name: "ShareName"
                },
                { 
                    data: "Servers",
                    title: "Servers",
                    name: "Servers",
                    render: function(data, type, row, meta) {
                        //console.log(row);
                        return row['Servers'].length;
                    }
                },
            ]
        } );
    }
</script>